*{
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navegador{    
    text-align: center;
    height: auto;
    background-color: bisque;
}


.navegador .link{
    color: black;
    font-size: 20px;
    width: 50px;
    text-decoration: none;
}

.navegador .container{
    width: 24.150vw;
    height: auto;
    display: inline-block; 
    transition: 0.3s;   
}

.navegador .container:hover{
    background-color: aquamarine; 
    transform: scale(1.2);
    transition: 0.3s;
}

h1{
    height: auto;    
    background-color: burlywood;
    margin-top: 50px;
    text-align: center;
}

.lista-desordenada{   
    display: flex;
    list-style-type: none;
    background-color: aqua;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    height: 200px;  
    padding: 0 10px; 
}

.obj{
    margin: 0 10px;
    text-align: center;
    border: 4px solid;
    transition: 0.3s;
}

.obj:hover{
    transform: translateY(-10px);
    transition: 0.2s;
}


.lista-desordenada li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.2s;
}

.lista-desordenada li:hover{
    background-color: white;
}

.lista-desordenada li a:hover{
    font-size: 25px;    
    transition-duration: 0.2s;
}

